@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap');
@import "./partials/_hero";
@import "./partials/_header";
@import "./partials/_media";
@import "./partials/_animations";

*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 80%;
  margin: 2rem auto;

  p {
    margin: 1rem 0;
  }
}